:root {
  --primary-color: #0ba374;
  --secondary-font-color: #1a1a1a;
  --tertiary-font-color: #8c94a6;
  --grey-300: #d0d5dd;
  --grey-900: #101928;
  --error: #ff2d2d;
  --success: #1b9964;
  --green-100: #b3e2d4;
  --green-800: #065a40;
  --green-900: #054431;
}
